<h1>
  Types of state:
</h1>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header bg-black">
        <h3>Server State</h3>
      </div>
      <div class="card-body">
        The server state is stored on the server and provided over a REST-API
        endpoint. (www.angular.at/api)
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header bg-warning">
        <h3>Persistent State</h3>
      </div>
      <div class="card-body">
        The persistent state is a subset of the server state stored on the
        client.
        It can be stored in memory in the local stored or anywhere else.
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header bg-danger">
        <h3>Router/URL state</h3>
      </div>
      <div class="card-body">
        The router/URL state is present in the browser search bar
      </div>
    </div>

  </div>

  <div class="col">
    <div class="card">
      <div class="card-header bg-info">
        <h3>Client state</h3>
      </div>
      <div class="card-body">
        The values in the search form
      </div>
    </div>

  </div>

  <div class="col">

    <div class="card">
      <div class="card-header bg-primary">
        <h3>Local UI state</h3>
      </div>
      <div class="card-body">
        The local UI state describes some component internal UI state. i.e. a
        progress spinner
      </div>
    </div>

  </div>

</div>
